*
!Dockerfile
!nginx.conf
!index.html
!facelift.css
!facelift-sign-assets.js
!public/
!public/assets/
!public/assets/asphalt-texture.png
!public/assets/ga-drivers-manual.js
!public/assets/georgia-road-ready-plate-template.png
!public/assets/official-sign-catalog/
!public/assets/official-sign-catalog/**
!public/assets/road-ready-license-plate-text.png
!public/assets/road-ready-logo.png
